{% extends 'base.html' %}

{% block title %}EditOrderForm {% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Форма редактирование позиции Заказа</h4>
        <div class="col-7 ms-2  font1-b">
          {{item.name}}
        </div>
        <div class="card-body">
          <!-- Credit Card -->
          <div id="pay-invoice">
            <div class="card-body ">

              <form action="#" method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="form-group ">
                  <label for="name">Изменить количество</label>
                  {{ form.order }}
                </div>

                <div>
                  <button id="payment-button" type="submit" class="btn btn-lg btn-success nt-5 btn-block">
                    <span id="payment-button-amount">Save</span>
                  </button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div> <!-- .card -->

    </div>
    <!--/.col-->
  </div>
  {% endblock content %}