{% extends 'base.html' %}
{% load static %}

{% block title %} {{block.super}}: {{title}}{% endblock %}

{% block content %}

<div class="ms-3">

  <div class="container">

    <header id="header" class="tab-header">
      <div class="top-left">
        <div class="navbar-header text-center" style="background: black">
          <h1 class="navbar-brand " style="color: white">Inventory Management System</h1>

        </div>
      </div>

    </header>
    <div class="content">
      <div class="container-fluid">

        <div class="row ">
          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <p class="material-icons"> Заказать сегодня: </p>
                </div>
                <h6 class="card-title">{{order_count}}
                  <small>наименований</small>
                </h6>
                <smal class="card-category">На сумму</smal>
                <h6 class="card-title">{{summa}}
                  <small>Rub</small>
                </h6>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!-- <i class="material-icons text-danger">warning</i> -->
                  <a href="{% url 'order_required' %}">Номенклатура к Заказу</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <p class="material-icons"> Заказать через 3 дня: </p>
                </div>
                <h6 class="card-title">{{order_count_3}}
                  <small>наименований</small> +({{dif_count}})
                </h6>
                <small class="card-category">На сумму</small>
                <h6 class="card-title">{{summa_3}}
                  <small>Rub</small> +({{dif_summa}})
                </h6>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!-- <i class="material-icons text-danger">warning</i> -->
                  <a href="{% url 'order_required_3' %}">Номенклатура к Заказу</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <p class="material-icons"> Заказано сегодня: </p>
                </div>
                <h6 class="card-title">{{last_order.count}}
                  <small>наименований</small>
                </h6>
                <smal class="card-category">На сумму</smal>
                <h6 class="card-title">{{summ_lastorder}}
                  <small>Rub</small>
                </h6>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <!-- <i class="material-icons text-danger">warning</i> -->
                  <a href="{% url 'last_order' %}">Номенклатура к Заказу</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <p class="material-icons">Запас на складе</p>
                  <h6 class="card-title">{{stock_count.count}} ед. на {{stock_sum|floatformat:0}} руб</h6>
                </div>
                <small class="card-category">Пути</small>
                <h6 class="card-title">15 ед. - 94 124 руб</h6>

              </div>
              <div class="card-footer fs-6">
                <small class="stats ms-3">
                  <a href="{% url 'inventory' %}">Склад</a>
                </small>
                <small class="stats ms-5">
                  <a href="#pablo">Пути</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <p class="card-category">Среднесуточные продажи</p>
                  <small class="material-icons">за 7 дней</small>
                  <small class="card-title font100-b">3 245 руб</small><br>
                  <small class="material-icons">за 30 дней</small>
                  <small class="card-title font100-b">2 984 руб</small>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="stats">
                <!-- <i class="material-icons text-danger">warning</i> -->
                <a href="{% url 'sold_product_list' %}">Номенклатура </a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Потребность товаров в деньгах</p>
                <small class="card-category">на 30 дней продаж</small>
                <h6 class="card-title">293 104 руб</h6>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <a href="#pablo">Посмотреть список</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>




{% endblock %}