{% extends 'base.html' %}

{% block title %}Add Ingedient to Recipe{% endblock title %}



{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong class="card-title">Add Ingedient to Product Recipe</strong> <span>
          <button id="payment-button" type="submit" class="btn btn-lg navbutt btn-block">
            <a id="payment-button-amount" href="{% url 'recipes-list' %}">Выйти из формы</a>
          </button>
        </span>
      </div>

      <div class="card-body">
        <p>Добавлять в продукт по одному ингредиенту и сохранять в базу данных</p>
        <!-- Credit Card -->
        <div id="pay-invoice">
          <div class="card-body">
            <form action="#" method="post" novalidate="novalidate">

              {% csrf_token %}


              <div class="form-group">
                <label for="name" class="control-label mb-1">Name</label>
                {{ form.recipe_name }}
              </div>

              <div class="form-group">
                <label for="name" class="control-label mb-1">ingredient</label>
                {{ form.ingredient }}
              </div>
              <div class="form-group">
                <label for="name" class="control-label mb-1">ingr_code</label>
                {{ form.code_ingr }}
              </div>

              <div class="form-group">
                <label for="name" class="control-label mb-1">unit</label>
                {{ form.unit }}
              </div>
              <div class="form-group">
                <label for="name" class="control-label mb-1">unit cost</label>
                {{ form.unit_cost }}
              </div>
              <div class="form-group">
                <label for="name" class="control-label mb-1">Ratio</label>
                {{ form.ratio }}
              </div>



              <div>
                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                  <span id="payment-button-amount">Добавить ингредиент</span>
                </button>


              </div>



            </form>
          </div>
        </div>

      </div>
    </div> <!-- .card -->

  </div>
  <!--/.col-->
</div>
{% endblock content %}