{% extends 'base.html' %}

{% block title %}Add Ingedient to Recipe{% endblock title %}



{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header row col-12">
        <strong class="card-title col-4">Add Ingedient to Product Recipe</strong>
      </div>

      <div class="card-body">
        <p>Добавлять в продукт по одному ингредиенту</p>
        <!-- Credit Card -->
        <div id="pay-invoice">
          <div class="card-body">
            <form action="#" method="post" novalidate="novalidate">
              {% csrf_token %}
              <div class="form-group">
                <label for="name" class="control-label mb-1">Name product</label>
                {{ form.product }}
              </div>

              <div class="form-group">
                <label for="name" class="control-label mb-1">ingredient</label>
                {{ form.ingredient }}
              </div>

              <div class="form-group">
                <label for="name" class="control-label mb-1">Ratio</label>
                {{ form.ratio }}
              </div>

              <div class="row">
                <button id="payment-button" type="submit" class="col-4 mx-2 btn btn-lg btn-success btn-block">
                  <span id="payment-button-amount">Добавить ингредиент</span>
                </button>



                <button id="payment-button" type="submit" class="col-3 ms-5 btn btn-lg btn-secondary  btn-block">
                  <a id="payment-button-amount" class="text-white text-decoration-none"
                    href="{% url 'recipes-list' %}">Выйти из формы</a>
                </button>



              </div>



            </form>
          </div>
        </div>

      </div>
    </div> <!-- .card -->

  </div>
  <!--/.col-->
</div>
{% endblock content %}