{% extends 'base.html' %}
{% load static %}
{% block title %} {{block.super}}: {{title}}{% endblock %}

{% block content %}



<div class="container">

  <header id="header" class="header">
    <div class="top-left">
      <div class="navbar-header text-center" style="background: black">
        <h1 class="navbar-brand " style="color: white">Inventory Management System</h1>

      </div>
    </div>
    Сегодня {% now "SHORT_DATE_FORMAT" %}
    <h4>Предложения по системе управления запасами:</h4>
    <ul>
      <li>Продажи, текущие поставки (пути),</li>
      <li>Закупки на отгрузки,</li>
      <li> Критические остатки,</li>
      <li> Периоды покрытые
        запасами и путями,</li>
      <li>Прогноз продаж на следующую неделю,</li>
      <li>Рассчитать заказ для подтверждения или корректировки.</li>
      <li>Сделать заказ в формате документа для согласования и печати/отправки.</li>
      <li>Продукты с истекающим сроком годности.</li>
      <li> Срок поставки товара поставщиком.</li>
      <li> Срок доставки товара в магазин.</li>
      <li>Продукция без движения.</li>
      <li>Несоответствие плана продаж реальным продажам. </li>
      <li>Выявлять отрицательные отстатки.</li>
      <li>График доставок в магазины (меняет supply planer).</li>
      <li>Меню для сезонного планирования (указать в базе
        сезонность: 23 февраля, Новый год и тд.)</li>
      <li>В модель/форму покупки добавить поле документа/накладной.</li>

    </ul>
    <p>Роли: 1)supply planer заказывают товары у поставщика (остатки). 2)sales manager планируют продажи (вносит
      план) 3) order specialist заказывает товар со склада в магазин</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>position</th>
          <th>functions</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>supply planer</td>
          <td>заказывают товары у поставщика (остатки)</td>
        </tr>
        <tr>
          <td>sales manager</td>
          <td>планируют продажи (вносит
            план)</td>
        </tr>
        <tr>
          <td>order specialist</td>
          <td>заказывает товар со склада в магазин</td>
        </tr>
      </tbody>

    </table>

  </header>

</div>
Сегодня {% now "SHORT_DATETIME_FORMAT" %}<br>
It is {% now "jS F Y H:i" %}
<div>ДАЛЕЕ

  <ul>
    <li>Формы Заказа и Путей. Связка с StockItem.</li>
    <li>Сделать Цены: договора, last - фактическая, средневзвешенная.</li>
    <li style="background:rgb(128, 239, 128)">Внесение прочих транзакций transfer move waste в StockItem.</li>
    <li style="background:rgb(128, 239, 128)">Внесение продаж в StockItem.</li>
    <li>1. Загрузить факт. прожажи sold Product через Impex</li>
    <li>2. Сделать Forecast на основе факт. продаж и загрузить его в Product</li>
    <li>3. Сделать рассчет средних продаж avrg_forecast и загрузить их в модель DailyRequirement</li>
    <li>4. В модели DailyRequirement сделать рассчет daily_requirement = ratio * avrg_forecast</li>
    <li>5. Загрузить daily_requirement в модель StockItem (Inventory) в поле суточной потребности daily_requirement</li>
    <li>6. Сделать расчет остатка товаров в днях продаж.</li>
    <li>7. Рассчитать Остаток+Пути в днях продаж.</li>
    <li>8. Рассчитать точку заказа, как сегодня + дней_до_заказа=Остаток+Пути-Буфер.</li>
    <li>9. Сделать форму заказа и офоррмить / отправить заказ</li>
    <li>10. Отправить Заказ на Пути</li>
    <li>11. При поступлении товара списать товар с Пути, если товар поступил вне заказа - не списывать с Пути </li>
    <li>12. Далее АНАЛИТИКА???</li>
    <li>Среднесуточные продажи, Норматив Запаса в днях продаж.</li>
    <li> Фильтр на низкие запасы.</li>
    <li>Запас + пути на дни продаж.</li>
    <li>Номенклатура товаров к заказу с подтверждением.</li>
    <li>Сохранение Заказа, печать заказа.</li>
  </ul>
  <h4 ">На Dashbord:</h4>
  <ul>
    <li>Продажи за период</li>
    <li>Себестоимость продаж, Валовая прибыль.</li>
    <li>Закупки за период (Заказы)</li>
    <li>Денежный поток за период (Продажи - Заказы)</li>
    <li>Существует накопление сырья из-за неопределенности, связанной с более низким производственным спросом по
      сравнению с первоначальным спросом. Сырье иногда бывает пустым, когда есть спрос на производство, что приводит к
      задержкам производства, что приводит к снижению производительности. Медленный доступ к данным отчета, поскольку
      они все еще находятся в виде архивов, что означает, что документы трудно найти
      когда нужно снова.</li>
    <li>Создание системы инвентаризации сырья, которая может предоставлять рекомендации по добавлению запасов сырья,
      информацию о сырье, которое уже или почти закончилось, и отчеты, готовые к печати, на основе даты, предоставленной
      функцией поиска, чтобы ее было легко найти. доступ при необходимости.</li>
    <li></li>
    <li></li>
  </ul>


  <h4>Приложение Excel:</h4>
  <ul>
    <li></li>
    <li>.</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
<div classclass=" bgc-green">
    <h4 classclass="bgc-green">About problems:</h4>
    <ul>

      <li>Существует накопление сырья из-за неопределенности, связанной с более низким производственным спросом по
        сравнению с первоначальным спросом. Сырье иногда бывает пустым, когда есть спрос на производство, что приводит к
        задержкам производства, что приводит к снижению производительности. Медленный доступ к данным отчета, поскольку
        они все еще находятся в виде архивов, что означает, что документы трудно найти
        когда нужно снова.</li>
      <li>Создание системы инвентаризации сырья, которая может предоставлять рекомендации по добавлению запасов сырья,
        информацию о сырье, которое уже или почти закончилось, и отчеты, готовые к печати, на основе даты,
        предоставленной
        функцией поиска, чтобы ее было легко найти. доступ при необходимости.</li>
      <li></li>
      <li></li>
    </ul>
</div>




</div>


</div>




{% endblock %}