.custom {
  color: #ebeef1;
  background: #3a3837;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body {
  font-size: 0.85rem !important;
}

.navbutt {
  color: #ebeef1;
  background: #3a3837;
  /* font-size: 1rem; */
  border-radius: 10px;
  padding: 0 10px;
}

.font1-b {
  font-size: 1.5rem;
  font-weight: 600;
}

.font125 {
  font-size: 1.25rem;
}

.font125-b {
  font-size: 1.25rem;
  font-weight: 600;
}

.font100-b {
  font-size: 1rem;
  font-weight: 600;
}

.bgc-green {
  background-color: green;
}

hr {
  color: #ebeef1;
}

.ht05 {
  font-size: 0.5rem;
}

/*закрепление заголовка таблицы*/
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  /* background: white; */
}



/* END закрепление заголовка таблицы*/
/*Ограничение времени показа {{message}}*/
.message {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

/*END Ограничение времени показа {{message}}*/