{% extends 'base_simple.html' %} {% block title %} {{ block.super }}: {{ title
}} {% endblock %} {% block content %}
<div class="container">
  <h1>Control</h1>
  <h2>Buy Item</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Unit</th>
        <th scope="col">Unit_cost</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total_cost</th>
        <th scope="col">Supplier</th>
        <th scope="col">Invoice</th>
      </tr>
    </thead>
    <tbody>
      {% for buyitem in buyitems%}
      <tr>
        <th scope="row">{{buyitem.id}}</th>
        <td>{{buyitem.name}}</td>
        <td>{{buyitem.code}}</td>
        <td>{{buyitem.unit}}</td>
        <td>{{buyitem.unit_cost}}</td>
        <td>{{buyitem.quantity}}</td>
        <td>{{buyitem.get_cost}}</td>
        <td>{{buyitem.supplier}}</td>
        <td>{{buyitem.invoice}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}