{% extends 'base_simple.html' %}
{% load static %}


{% block title %}
{{ block.super }}: Inventory
{% endblock %}
<div class="col-12 mx-1">
  {% block content %}
  <div class="ms-3">
    <h3>Item Inventory list</h3>
    Всего позиций: {{stockitems.count}}
  </div>


  <table class="table table-striped">
    <thead style="position: sticky;
  top: -1px;
  z-index: 2;background: #9d9e9e;">
      <tr>
        <th class="header" scope="col">Code</th>
        <th class="header" scope="col">Name</th>
        <th class="header" scope="col">daily_requirement</th>
        <th class="header" scope="col">ID</th>
        <th class="header" scope="col">Unit</th>
        <th class="header" scope="col">first_cost</th>
        <th class="header" scope="col">last_cost</th>
        <th class="header" scope="col">Unit_cost</th>
        <th class="header" scope="col">place</th>
        <th class="header" scope="col">Open</th>
        <th class="header" scope="col">Received</th>
        <th class="header" scope="col">Sales</th>
        <th class="header" scope="col">transfer</th>
        <th class="header" scope="col">waste</th>
        <th class="header" scope="col">Actual</th>
        <th class="header" scope="col">Actual_cost</th>
        <th class="header" scope="col">stock_days</th>
        <th class="header" scope="col">delivery</th>
        <th class="header" scope="col">delivery_cost</th>
        <th class="header" scope="col">fullstock</th>
        <th class="header" scope="col">fullstock_days</th>
        <th class="header" scope="col">delivery_time</th>

      </tr>
    </thead>
    <tbody>
      {% for stockitem in stockitems|dictsort:"code" %}
      <tr>
        <th scope="row">{{stockitem.code}}</th>
        <td>{{stockitem.name}}</td>
        <td>{{stockitem.daily_requirement |floatformat:2 }}</td>
        <td>{{stockitem.id}}</td>
        <td>{{stockitem.unit}}</td>
        <td>{{stockitem.first_cost}}</td>
        <td>{{stockitem.last_cost}}</td>
        <td>{{stockitem.unit_cost}}</td>
        <td>{{stockitem.place}}</td>
        <td>{{stockitem.open}}</td>
        <td>{{stockitem.received}}</td>
        <td>{{stockitem.sales}}</td>
        <td>{{stockitem.transfer}}</td>
        <td>{{stockitem.waste}}</td>
        <td>{{stockitem.actual |floatformat:2}}</td>
        <td>{{stockitem.actual_cost|floatformat:1 }}</td>
        <td>{{stockitem.stock_days}}</td>
        <td>{{stockitem.delivery}}</td>
        <td>{{stockitem.delivery_cost}}</td>
        <td>{{stockitem.fullstock}}</td>
        <td>{{stockitem.fullstock_days}}</td>
        <td>{{stockitem.delivery_time}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
</div>