{% extends 'base_simple.html' %}

{% block title %}
{{ block.super }}: Inventory
{% endblock %}
{% block content %}
<div class="container">
  <h2>Item Inventory list</h2>
  Всего строк: {{stockitems.count}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">daily_requirement</th>
        <th scope="col">ID</th>
        <th scope="col">Unit</th>
        <th scope="col">Unit_cost</th>
        <th scope="col">place</th>
        <th scope="col">Open</th>
        <th scope="col">Sales</th>
        <th scope="col">Received</th>
        <th scope="col">transfer</th>
        <th scope="col">waste</th>
        <th scope="col">Actual</th>
        <th scope="col">Actual_cost</th>

      </tr>
    </thead>
    <tbody>
      {% for stockitem in stockitems|dictsort:"code" %}
      <tr>
        <th scope="row">{{stockitem.code}}</th>
        <td>{{stockitem.name}}</td>
        <td>{{stockitem.daily_requirement |floatformat:2 }}</td>
        <td>{{stockitem.id}}</td>
        <td>{{stockitem.unit}}</td>
        <td>{{stockitem.unit_cost}}</td>
        <td>{{stockitem.place}}</td>
        <td>{{stockitem.open}}</td>
        <td>{{stockitem.sales}}</td>
        <td>{{stockitem.received}}</td>
        <td>{{stockitem.transfer}}</td>
        <td>{{stockitem.waste}}</td>
        <td>{{stockitem.get_actual |floatformat:2}}</td>
        <td>{{stockitem.get_actual_cost|floatformat:2 }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}