{% extends 'base_simple.html' %} {% block title %} {{ block.super }}: Sold Product
{% endblock %}
{% block content %}
<div class="container">
  <h2>Sale Product</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Unit</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Revenue</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for saleproduct in sold_products%}
      <tr>
        <th scope="row">{{saleproduct.code}}</th>
        <td>{{saleproduct.product}}</td>
        <td>{{saleproduct.id}}</td>
        <td>{{saleproduct.unit}}</td>
        <td>{{saleproduct.price}}</td>
        <td>{{saleproduct.sold}}</td>
        <td>{{saleproduct.get_revenue}}</td>
        <td>{{saleproduct.date|date:"d-m-Y"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}