{% extends 'base_simple.html' %}
{% block title %} {{ block.super }}: Transfer Item
{% endblock %}
{% block content %}
<div class="col-11 mx-auto">
  <h2>Transfer Item</h2>
  Всего записей: {{transfers.count}}
  <table class="table table-striped">
    <thead style="position: sticky;
  top: -1px;
  z-index: 2;background: #9d9e9e;">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Unit</th>
        <th scope="col">Unit_cost</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total_cost</th>
        <th scope="col">Partner</th>
        <th scope="col">Invoice</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for transfer in transfers %}

      <tr>
        <th scope="row">{{transfer.code}}</th>
        <td>{{transfer.item}}</td>
        <td>{{transfer.id}}</td>
        <td>{{transfer.unit}}</td>
        <td>{{transfer.unit_cost}}</td>
        <td>{{transfer.quantity}}</td>
        <td>{{transfer.get_cost}}</td>
        <td>{{transfer.partner}}</td>
        <td>{{transfer.invoice}}</td>
        <td>{{transfer.created_date|date:"d-m-Y"}}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}