.custom {
  color: #ebeef1;
  background: #3a3837;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body {
  font-size: 0.85rem !important;
}

.navbutt {
  color: #ebeef1;
  background: #3a3837;
  /* font-size: 1rem; */
  border-radius: 10px;
  padding: 0 10px;
}

.font1-b {
  font-size: 1.5rem;
  font-weight: 600;
}

.bgc-green {
  background-color: green;
}

hr {
  color: #ebeef1;
}

ht05 {
  font-size: 0.5rem;
}

/*закрепление заголовка таблицы*/
table .th {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
}

/* 
th {
  position: -webkit-sticky;
  position: sticky;
  top: -3px;
  z-index: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.table-fixed-head {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 100vh;
}

.table-fixed-head th,
.table-fixed-head td {
  padding: 5px;
  text-align: center;
  width: 33.333vw;
}

.table-fixed-head thead {
  background-color: #333;
  color: #FDFDFD;
}

.table-fixed-head thead tr {
  display: block;
  position: relative;
}

.table-fixed-head tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 30px);
}

.table-fixed-head tbody tr:nth-child(even) {
  background-color: #DDD;
} */

/* END закрепление заголовка таблицы*/