{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}


<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'im-icon.png' %}" />
  <!-- <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}"> -->

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <title>{% block title %}MMS22{% endblock %}</title>
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand font1-b navbutt" href="{% url 'dashbord' %}">Dashbord</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active navbutt" aria-current="page" href="{% url 'dashbord' %}">На главный</a>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle navbutt active" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Manual
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'memo' %} target =" _blank"">Заметки</a></li>
              <li><a class="dropdown-item" href="#">Руководство</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Memo</a></li>
            </ul>
          </li>

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle navbutt" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Operation
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" aria-current="page" href="{% url 'recalculation' %}">Recalculation</a></li>
              <li><a class="dropdown-item" href="{% url 'stock_item_days' %}">Stock item in days</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'stock_in_days' %}">Stock in days</a>
              </li>


              <hr class="dropdown-divider">

              <li><a class="dropdown-item" href="{% url 'impex' %}" target="_blank">IMPEX</a></li>
            </ul>
          </li>

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle navbutt" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Order
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'order_calc' %}">Order_calc</a></li>
              <li><a class="dropdown-item" href="{% url 'order' %}" target="_blank">Order</a></li>


              <li><a class="dropdown-item" href="{% url 'last_order' %}">Last Order</a></li>
              <li>
              <li><a class="dropdown-item" href="{% url 'orders_list' %}">Order List</a></li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'order' %}">Goods in transit</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link active navbutt" href="{% url 'impex' %}">IMPEX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled navbutt" href="{% url 'dashbord' %}">reserve</a>
          </li>
        </ul>
        <!-- 
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="ms-3">
    {% block menu%}

    <div class="row">

      <div class="col-2 navbutt text-muted">
        <h4>Directory:</h4>
        <hr class="dropdown-divider">
        <ul class="nav navbar-nav">
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Suppliers
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'addsupplier' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'supplier-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Item Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-itemcategory' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'itemcategories-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Items
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-item' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'items-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Buy Item
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'buy_item' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'buy_item_list' %}">View</a></li>

            </ul>
          </li>

          <hr class="dropdown-divider">

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Product Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-category' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'categories-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-product' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'products-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Recipe
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-to-recipe' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'recipes-list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sold Product
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'sold_product' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'sold_product_list' %}">View</a></li>

            </ul>
          </li>

          <hr class="dropdown-divider">

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Inventory
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'inventory_about' %}">About</a></li>
              <li><a class="dropdown-item" href="{% url 'inventory' %}">View</a></li>

            </ul>
          </li>

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Transfer
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'transfer' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'transfer_list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Waste
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'waste' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'waste_list' %}">View</a></li>

            </ul>
          </li>
          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Stock Move
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'move-item' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'place-list' %}">View</a></li>

            </ul>
          </li>


          <hr class="dropdown-divider">

          <li class="navbar-nav nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Users
            </a>
            <!-- <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'supplier-list' %}">Add</a></li>
              <li><a class="dropdown-item" href="{% url 'supplier-list' %}">View</a></li>

            </ul> -->
          </li>



          {% endblock %}
      </div>

      <div class="col-10">
        {% block content %}CONTENT{% endblock %}
      </div>





      <!-- <script async src="{% static 'bootstrap5/js/bootstrap.bundle.min.js'%}" crossorigin="anonymous"> -->
      <!-- </script> -->
      <!-- <script type="importmap"> -->


</body>

</html>