{% extends 'base.html' %}
{% load static %}

{% block title %}Impex {% endblock title %}


{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <span>Импорт в БД данных списком через Админ Модуль
          <b> «IMPEX»</b></span>
      </div>
      <!--container-->
      <div class="container">
        <!--row-->
        <div class="row g-2">
          <!--cell-->
          <div class="col-6">
            <h5>1 Импорт закупок товаров</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице закупок для импорта ОБЯЗАТЕЛЬНЫ: наименование и поставщик продукта.
              </p>
              {% if buyitem_success %}
              <div class="alert alert-success d-flex">
                {{buyitem_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт BuyItem из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xbuyitem' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить BuyItem из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>2 Импорт продаж продуктов</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице продаж для импорта ОБЯЗАТЕЛЬНЫ: наименование продукта.
              </p>
              {% if sold_success %}
              <div class="alert alert-success d-flex">
                {{sold_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт SoldProduct из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xsold' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить SoldProduct из IMPEX" />
              </form>
              {% endif %}
              {{e_data}}
            </div>
          </div>
          <!--/cell-->

          <!--cell-->
          <div class="col-6">
            <h5>3 Импорт трансферов товаров</h5>
            <div class="p-3 border bg-light">
              <p class="ht05">В таблице трансферов для импорта ОБЯЗАТЕЛЬНЫ: наименование товара.</p>
              {% if transferitem_success %}
              <div class="alert alert-success d-flex">
                {{transferitem_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт TransferItem из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xtransfer' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить TransferItem из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->

          <!--cell-->
          <div class="col-6">
            <h5>4 Импорт списания товаров</h5>
            <div class="p-3 border bg-light">
              <p class="ht05">В таблице списаний для импорта ОБЯЗАТЕЛЬНЫ: наименование товара.</p>
              {% if wasteitem_success %}
              <div class="alert alert-success d-flex">
                {{wasteitem_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт WasteItem из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xwaste' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить WasteItem из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->


          <!--cell-->
          <div class="col-6">
            <h5>5 Импорт товаров</h5>
            <div class="p-3 border bg-light">
              <p class="ht05">В таблице товаров для импорта ОБЯЗАТЕЛЬНЫ: наименование, поставщик, категория товара.</p>
              {% if item_success %}
              <div class="alert alert-success d-flex">
                {{item_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт Item из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xitem' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить Item из IMPEX" />
              </form>
              {% endif %}
              {{e_data}}
            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>6 Импорт продуктов</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице продуктов для импорта ОБЯЗАТЕЛЬНЫ: наименование, категория продукта.
              </p>
              {% if product_success %}
              <div class="alert alert-success d-flex">
                {{product_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт Product из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xproduct' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить Product из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>7 Импорт РЕЦЕПТОВ продуктов</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице рецептов для импорта ОБЯЗАТЕЛЬНЫ: наименование продукта и ингредиента.
              </p>
              {% if recipe_success %}
              <div class="alert alert-success d-flex">
                {{recipe_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт Recipe из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xrecipe' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить Recipe из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>8 Импорт категорий продуктов</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице категорий для импорта ОБЯЗАТЕЛЬНЫ: наименование категории и код. </p>
              {% if category_success %}
              <div class="alert alert-success d-flex">
                {{category_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт Category из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xcategory' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить Category из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>9 Импорт категорий товаров</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице категорий для импорта ОБЯЗАТЕЛЬНЫ: наименование категории и код. </p>
              {% if categoryitem_success %}
              <div class="alert alert-success d-flex">
                {{categoryitem_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт CategoryItem из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xcategoryitem' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить CategoryItem из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->
          <!--cell-->
          <div class="col-6">
            <h5>10 Импорт поставщиков товаров</h5>
            <div class="p-3 border bg-light">
              <p style="font-size:1rem">В таблице поставщиков для импорта ОБЯЗАТЕЛЬНЫ: наименование, код, адрес,
                контакты. </p>
              {% if supplier_success %}
              <div class="alert alert-success d-flex">
                {{supplier_success}}
              </div>
              <form action="{% url 'impex' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" name="export"
                  value="Завершить импорт Supplier из IMPEX" />
              </form>
              {% else %}

              <form action="{% url 'xsupplier' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <input id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" name="export"
                  value="Загрузить Supplier из IMPEX" />
              </form>
              {% endif %}

            </div>
          </div>
          <!--/cell-->

        </div>
      </div>
      <!--/row-->
    </div>

    <!--/container-->

  </div>
  <!--/.col-->
</div>

{% endblock content %}