{% extends 'base.html' %}
{% load static %}
{% block title %} {{block.super}}: {{title}}{% endblock %}

{% block content %}
<h3>Расчетный Заказ через 3 дня</h3>

<!--AAA-->
<!--cell-->
<div class="col-12">

  <div class="p-3 border bg-light">

    <h5>Позиций {{toorders_3.count}}. Сумма {{summa_3}} руб. </h5>


  </div>
</div>
<!--/cell-->

<table class="table table-striped">
  <thead style="position: sticky;
  top: -1px;
  z-index: 2;background: #9d9e9e;">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Supplier</th>
      <th scope="col">Оrder</th>
      <th scope="col">Оrder_Sum</th>
    </tr>
  </thead>
  <tbody>
    {% for toorder in toorders_3 %}
    <tr>
      <th scope="row">{{toorder.code}}</th>
      <td>{{toorder.name}}</td>
      <td>{{toorder.supplier}}</td>
      <td>{{toorder.to_orders|floatformat:0}}</td>
      <td>{{toorder.order_sum|floatformat:0}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--/AAA-->

{% endblock %}