{% extends 'base_simple.html' %}
{% load static %}
{% block title %}
{{block.super }}: Products
{% endblock %}
{% block content %}
<div class="container">
  <h2 class="custom">Products</h2>
  Всего позиций: {{products.count}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">difficulty</th>
        <th scope="col">price</th>
        <th scope="col">cooking</th>
        <th scope="col">created_date</th>
        <th scope="col">updated_date</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
      <tr>
        <th scope="row">{{product.code}}</th>
        <td>{{product.name}}</td>
        <td>{{product.id}}</td>
        <td>{{product.category}}</td>
        <td>{{product.difficulty}}</td>
        <td>{{product.price}}</td>
        <td>{{product.cooking}}</td>
        <td>{{product.created_date}}</td>
        <td>{{product.updated_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}