{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }}: {{ title }}
{% endblock %}


{% block content %}
<div class="container">


  <h2 class="custom">Recipes list</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Код</th>
        <th scope="col">ingredient</th>
        <th scope="col">ingr_code</th>
        <th scope="col">unit</th>
        <th scope="col">unit_cost</th>
        <th scope="col">Ratio</th>
        <th scope="col">ingredient_cost</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes%}
      <tr>
        <th scope="row">{{recipe.id}}</th>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.code}}</td>
        <td>{{recipe.ingredient}}</td>
        <td>{{recipe.code_ingr}}</td>
        <td>{{recipe.unit}}</td>
        <td>{{recipe.unit_cost}}</td>
        <td>{{recipe.ratio}}</td>
        <td>{{recipe.ingredient_cost}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}