{% extends 'base_simple.html' %}
{% load static %}
{% block title %} {{block.super }}: Items {% endblock %} {{number}}
{% block content %}
<div class="container">
  <h2 class="custom">Items </h2>
  Всего позиций: {{items.count}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">Supplier</th>
        <th scope="col">unit</th>
        <th scope="col">u_cost</th>
        <th scope="col">d_time</th>
        <th scope="col">s_lot</th>
        <th scope="col">weight</th>
        <th scope="col">length</th>
        <th scope="col">width</th>
        <th scope="col">height</th>
        <th scope="col">b_b</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items%}
      <tr>
        <th scope="row">{{item.code}}</th>
        <td>{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>{{item.category}}</td>
        <td>{{item.supplier}}</td>
        <td>{{item.unit}}</td>
        <td>{{item.unit_cost}}</td>
        <td>{{item.delivery_time}}</td>
        <td>{{item.supply_lot}}</td>
        <td>{{item.lot_weight}}</td>
        <td>{{item.lot_length}}</td>
        <td>{{item.lot_width}}</td>
        <td>{{item.lot_height}}</td>
        <td>{{item.best_befor}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}